body{
  background-color: #FFA07A;
}
h6{
  color:#FF7F50;
  font-family:sans-serif;
  font-family: 'Droid Sans', sans-serif;
  font-size:60px;
  background-color:black;
  text-align:center;
}
/*cerrar con punto y coma*/
img{
width: 80px;
}
.imagenP{
  width: 20px;
}
